{% extends "AppBundle:Emails:default.html.twig" %}

{% block mail_content %}

<table align="center" border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto;" width="620">
    <tbody>
      <tr>
        <td height="30" width="620">
          &nbsp;
        </td>
      </tr>
      <tr>
        <td bgcolor="#16a085" width="620">
          <div style="padding: 15px !important;">
            <font style="color: white; font-size: 18px; font-weight:bold;">Outil de clienteling Claravista</font>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <table align="center" border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto; border-left: 1px solid #ccc; border-right: 1px solid #ccc" width="620">
    <tbody>
      <tr>
        <td height="15" width="620">
          &nbsp;
        </td>
      </tr>
      <tr>
        <td width="620">
          <div style="padding: 15px !important;">
            <font style="color: black; font-size: 16px; font-weight:bold;">Merci pour votre achat</font>
          </div>
        </td>
      </tr>
      <tr>
        <td height="15" width="620">
          &nbsp;
        </td>
      </tr>
      <tr>
        <td width="620">
          <div style="padding: 15px 15px 0 15px !important;">
            <font style="color: black; font-size: 14px;">
              {{ messageHtml|raw }}<br />
              {% if vendeur is defined and vendeur is not null %}
                <p>{{ vendeur }}</p><br />
              {% endif %}
              <p>{{ signature }}</p><br />
            </font>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <a href="http://www.claravista.fr/" style="color:#ffffff;text-decoration:none;" target="_blank">
            <img src="http://www.claravista.fr/images/logo_claravista.png" alt="logo claravista" width="200" />
          </a>
        </td>
      </tr>
      <tr>
        <td height="30" width="620">
          &nbsp;
        </td>
      </tr>
    </tbody>
  </table>
  <table align="center" border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto;" width="620">
    <tbody>
      <tr>
        <td bgcolor="#313233" style="text-align:center" width="620">
          <div style="padding: 15px !important;">
            <font style="color: #ccc; font-size: 12px;">Outil de clienteling Claravista</font>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

{% endblock %}